<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <h2>Books:</h2>
  <ul>
    <% for (let i = 0; i < books.length; i++) { %>
      <li>
        <p> <%= books[i].title %> </p>
        <ul>
          <li>Author: <%= books[i].author %></li>
          <li>Page Count: <%= books[i].pages %></li>
          <li>Summary: <%= books[i].summary %></li>
          <li>Tags: <%= books[i].tags %></li>
          <li>Genres: <%= books[i].genres %></li>
        </ul>
      </li>
    <% } %>
  </ul>
  <a href="/">Home</a>
</body>
</html>
